.App {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

#logo{
  font-size: 36px;
  margin-top: 10px;
  margin-right: 50rem;
}

.nav{
  background-color: black;
  box-shadow: 1px 3px 0px -1px orange;
  height: 100px;
}

#allContainer{
  display: flex;
}

img{
  height: 300px;
  width: fit-content;
  margin: 0 auto;
}

.card{
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5rem;
  padding: 30px;
  background-color: black;
  color: white;
  box-shadow: 1px 1px 7px 0px orange;

}




.active{
  color: orange;
  border: 1px solid white;
  border-radius: 10px;
}



#add, #list{
  margin: 20px;
}


#edit{
  width: 100px;
}

#edit:hover{
  background-color: orange;
}

#editLink{
  color: orange;
  text-decoration: none;
}

#editLink:hover{
  color: white;
}


#delete{
  width: 100px;
  margin-left: 1.8rem;
}

#oneMovie{
  width: 75%;
  height: fit-content;
  margin: 0 auto;
  box-shadow: 1px 1px 2px 2px white;
  margin-top: 5rem;
}

#oneInfo{
  margin-right: 7rem;
  text-align: left;
}

#passedInfo{
  color: white;
}
p{
  color: orange;
}


#title{
  color: orange;
}

#formContainer{
  margin-bottom: 50px;
}

#formHead{
  border: 1px solid orange;
  padding: 10px;
  color: orange;
  background-color: black;
}

label, input{
  margin-top: 5px;
  font-size: 16px;
}